{% extends "layouts/main.html" %}

{% set pageName = "Upload data" %}

{% set pageHeader %}
<span class="govuk-caption-l">{{ dataset.name }}</span>
<h1 class="govuk-heading-l">
  {{ pageName }}
</h1>
{% endset %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/check/"+ organisation.organisation +"/"+ dataset.dataset +"/choose-upload"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form novalidate action="/check/{{ organisation.organisation }}/{{ dataset.dataset }}/checking-file" method="post">

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload1",
        label: {
          html: pageHeader
        },
        hint: {
          text: "You can upload a CSV, GeoJSON, GML or Geopackage file"
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <a style="color:white" href="/check/{{ organisation.organisation }}/{{ dataset.dataset }}/errors">Error page</a>

  </div>
</div>

{% endblock %}