{% if govukRebrand == true %}
  {% set applyRebrand = true %}
{% else %}
  {% set applyRebrand = false %}
{% endif %}

{{ govukHeader({
  classes: "govuk-header--full-width-border",
  rebrand: applyRebrand
}) }}

{% if hideNav != true %}
{% set navItems = [
    {
      href: "/overview/v2/organisations",
      text: "Find your organisation",
      active: true
    },
    {
      href: "/guidance",
      text: "Guidance"
    }
  ] %}
{% else %}
{% set navItems = [] %}
{% endif %}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/",
  navigation: navItems
}) }}