{{ govukHeader({
  classes: "govuk-header--full-width-border",
  rebrand: govukRebrand === true
}) }}

{% if hideNav != true %}
{% if active_section === null %}
 {% set active = false %}
{% else %}
  {% set active = true %}
{% endif %}

{% set navItems = [
    {
      href: version_path+"/organisations",
      text: "Find your organisation",
      active: active
    },
    {
      href: version_path+"/guidance",
      text: "Guidance"
    }
  ] %}
{% else %}
{% set navItems = [] %}
{% endif %}

{% set navClasses %}{{ "govuk-service-navigation--inverse" if inverseHeader }}{% endset %}
 
{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/",
  navigation: navItems,
  classes: navClasses
}) }}