{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}

{% if hideNav != true %}

{% if data.authenticated %}
  {% set org_url %}{{ version_path }}/organisations/{{data.authenticatedOrg.organisation}}{% endset %}
{% else %}
  {% set org_url = version_path + "/authentication-email" %}
{% endif %}

{% set navItems = [
    {
      href: org_url,
      text: "Your organisation",
      active: active_section['your_organisation']
    },
    {
      href: version_path + "/organisations",
      text: "View all organisations",
      active: active_section['all_organisations']
    },
    {
      href: version_path + "/guidance",
      text: "Guidance",
      active: active_section['guidance']
    }
  ] %}
{% else %}
{% set navItems = [] %}
{% endif %}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/",
  navigation: navItems
}) }}