{% extends "layouts/main.html" %}

{% set serviceName = "Check your planning data" %}
{% set hideNav = true %}

{% block header %}
{% include "includes/_service-navigation-header.html" %}
{% endblock %}

{% set pageName = "Your "+dataset.name+" dataset is ready to publish" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: version_path + "/organisations/"+ organisation.organisation +"/"+ dataset.dataset + "/results-non-blocked"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>

    <h2 class="govuk-heading-l">What to do next</h2>

    <h3 class="govuk-heading-m">1: Publish your data to your website</h3>

    <p>The page on your website must include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a link to the data</li>
      <li>a summary of what the data is about</li>
      <li>a statement that the data is provided under the Open Government Licence</li>
    </ul>

    <p>Read the guidance for more information on <a href="https://www.planning.data.gov.uk/guidance/">how to publish
        your data on your website</a>.</p>

    <h3 class="govuk-heading-m">2: Submit your data to the planning data platform</h3>

    <p>Once your data is published on your website, you can submit your data to the platform.</p>

    <p>You'll need to provide your:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>full name</li>
      <li>work email address</li>
      <li>endpoint URL: the location of your data through an API or CSV file</li>
      <li>webpage URL: publicly accessible page on your organisation's website with information about the data</li>
    </ul>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Submit your dataset",
        href: "#",
        isStartButton: true
      })}}
    </div>

    <p><a href="#">Return to your dashboard</a></p>
  </div>


</div>

{% endblock %}