{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% macro columnMappingForm(params) %}

        {{ govukRadios({
            name: "check["+params.columnName+"Column]",
            fieldset: {
                legend: {
                    text: 'Which column contains your ' + params.columnName + ' data?',
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: params.hint
            },
            value: params.data.check[params.columnName+"Column"],
            items: [
                {
                    value: "reference",
                    text: "reference"
                    hint: {
                        text: "AD41"
                    }
                },
                {
                    value: "name",
                    text: "name"
                    hint: {
                        text: "Old Market"
                    }
                },
                {
                        value: "documentation-url",
                        text: "documentation-url"
                        hint: {
                            text: "https://www.borechester.gov.uk/planning/data/article-4-directions"
                        }
                },
                {
                        value: "location",
                        text: "location"
                        hint: {
                            text: "MULTIPOLYGON (((1.188829 51.23478,1.188376 51.234909,1.188381 51.234917,1.187912 51.235022..."
                        }
                },
                {
                        value: "notes",
                        text: "notes"
                },
                {
                        value: "date-of-creation",
                        text: "date-of-creation"
                        hint: {
                            text: "2018-05-21"
                        }
                },
                {
                        value: "date-of-expiry",
                        text: "date-of-expiry"
                        }
                },
                {
                        value: "entry-date",
                        text: "entry-date"
                        hint: {
                            text: "2024-05-16"
                        }
                },
                {
                        value: "This data is missing",
                        text: "This data is missing"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}
{% endmacro %}