{% extends "layouts/main.html" %}

{% set pageName = "Borechester District Council overview" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/overview/start"
        },
        {
          text: "Organisations",
          href: "/overview/organisations"
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>

    <div class="dataset-summary-grid">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Article 4 direction
          </h2>

          {{govukTag({
            text: "Not provided",
            classes: "govuk-tag--grey"
          })}}
        </div>
        <div class="govuk-summary-card__content">
          <div class="govuk-summary-list__row">
            <p>Endpoint not provided</p>
          </div>
          <div class="govuk-summary-list__row">
            <p>
              <a href="/taskLists/taskChecklist">Add endpoint</a>
            </p>
          </div>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Article 4 direction area
          </h2>

          {{govukTag({
                      text: "Processing"
                    })}}
        </div>
        <div class="govuk-summary-card__content">
          <div class="govuk-summary-list__row">
            <p>Your endpoint has been submitted and is being processed by the team.</p>
          </div>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Conservation area
          </h2>

          {{govukTag({
                text: "Issues",
                classes: "govuk-tag--yellow"
              })}}
        </div>

        <div class="govuk-summary-card__content">
          <div class="govuk-summary-list__row">
            <p>Endpoint has not been updated since 21 May 2023</p>
          </div>
          <div class="govuk-summary-list__row">
            <p>
              <a href="/taskLists/taskChecklist">Fix issues</a>
              <a href="/overview/dataset-details">View data</a>
            </p>
          </div>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Conservation area direction
          </h2>

          {{govukTag({
                text: "No issues",
                classes: "govuk-tag--green"
              })}}
        </div>

        <div class="govuk-summary-card__content">
          <div class="govuk-summary-list__row">
            <p>Endpoint provided</p>
          </div>
          <div class="govuk-summary-list__row">
            <p>
              <a href="/overview/dataset-details">View data</a>
            </p>
          </div>
        </div>
      </div>


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Listed building outline
          </h2>

          {{govukTag({
                text: "No issues",
                classes: "govuk-tag--green"
              })}}
        </div>

        <div class="govuk-summary-card__content">
          <div class="govuk-summary-list__row">
            <p>Endpoint provided</p>
          </div>
          <div class="govuk-summary-list__row">
            <p>
              <a href="/overview/dataset-details">View data</a>
            </p>
          </div>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Tree
          </h2>

          {{govukTag({
                    text: "Issues",
                    classes: "govuk-tag--yellow"
                  })}}
        </div>

        <div class="govuk-summary-card__content">
          <div class="govuk-summary-list__row">
            <p>Endpoint provided</p>
          </div>
          <div class="govuk-summary-list__row">
            <p>There are 20 issues in this dataset</p>
          </div>
          <div class="govuk-summary-list__row">
            <p>
              <a href="/taskLists/taskChecklist">Fix issues</a>
              <a href="/overview/dataset-details">View data</a>
            </p>
          </div>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Tree preservation order
          </h2>

          {{govukTag({
            text: "Error",
            classes: "govuk-tag--red"
          })}}
        </div>

        <div class="govuk-summary-card__content">
          <div class="govuk-summary-list__row">
            <p>Error connecting to endpoint</p>
          </div>
          <div class="govuk-summary-list__row">
            <p>
              <a href="/taskLists/taskChecklist">Fix errors</a>
              <a href="/overview/dataset-details">View data</a>
            </p>
          </div>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Tree preservation zone
          </h2>

          {{govukTag({
                    text: "Error",
                    classes: "govuk-tag--red"
                  })}}
        </div>

        <div class="govuk-summary-card__content">
          <div class="govuk-summary-list__row">
            <p>Error connecting to endpoint</p>
          </div>
          <div class="govuk-summary-list__row">
            <p>
              <a href="/taskLists/taskChecklist">Fix errors</a>
              <a href="/overview/dataset-details">View data</a>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>View your <a href="/taskLists/taskChecklist">task list</a> to fix and improve your datasets</p>

      </div>
    </div>

    {% endblock %}