//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

.task-div {
  margin-bottom: 10px;
  padding: 10px;
}

.dataset-summary-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: govuk-spacing(3);
  row-gap: govuk-spacing(6);
  align-items: stretch;
}

.dataset-summary-grid .govuk-summary-card {
  width: calc((100% / 3) - govuk-spacing(3));
}

.dataset-summary-grid .govuk-summary-card__title-wrapper {
  align-items: flex-start;
}

.planning-data-actions {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  column-gap: govuk-spacing(2);
}

code,
code * {
  font-family: monospace;
}
