//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

@import "components/dataset-navigation";

.task-div {
  margin-bottom: 10px;
  padding: 10px;
}

.dataset-summary-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: govuk-spacing(3);
  row-gap: govuk-spacing(6);
  align-items: stretch;
}

.dataset-summary-grid .govuk-summary-card {
  width: calc((100% / 3) - govuk-spacing(3));
}

.dataset-summary-grid .govuk-summary-card__title-wrapper {
  align-items: flex-start;
}

.dataset-status {
  margin-bottom: govuk-spacing(6);

  display: flex;
  column-gap: govuk-spacing(6);
}

.dataset-status--item {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");

  padding: govuk-spacing(2) govuk-spacing(3);
  flex-grow: 1;
  flex-basis: 0;

  @include govuk-font($size: 24, $weight: bold);
}

.big-number {
  @include govuk-font($size: 80, $weight: bold);
  display: block;
}

.planning-data-actions {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  column-gap: govuk-spacing(2);
}

.dl-summary-card-list__row--error {
  border-left: govuk-spacing(1) solid $govuk-error-colour;

  .govuk-summary-list__key {
    padding-left: govuk-spacing(3);
  }
}

.dl-table {
  th, td {
    padding: govuk-spacing(1) govuk-spacing(2);
  }
}

.dl-table--sticky {
  text-align: left;
  position: relative;
}

.dl-table__head {
  tr {
    background-color: govuk-colour("light-grey");
  }
}

.dl-table__header {
  border: 1px solid $govuk-border-colour;
  text-wrap: nowrap;
  background-color: govuk-colour("light-grey");
}

.dl-table--sticky .dl-table__head tr {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.dl-table__cell--error {
  border-left: govuk-spacing(1) solid $govuk-error-colour;
}

.dl-scrollable {
  overflow: scroll;
  max-width: 100%;
  max-height: 80vh;

  margin-bottom: govuk-spacing(6);
}

.dl-scrollable .dl-table {
  max-width: 2000px;
}

.dl-phase-banner--footer {
  border-top: 1px solid $govuk-border-colour;
  border-bottom: none;
}

code,
code * {
  font-family: monospace;
}

