<div class="task-div">
    <h2 class="govuk-heading-m">10 errors in your tree dataset need fixing</h2>
    {{ govukTaskList({
    idPrefix: "provide-article-4-direction-areas",
    items: [
        {
            title: {
                text: "Check your data"
            },
            href: "/taskLists/tpz-error-results",
            status: data.check.checkYourTreeDataStatus | toStatusIndicator
        },
        {
            title: {
                text: "Fix your data file"
            },
            href: "/columnMappingTree/upload-method",
            status: data.check.fixYourTreeStatus | toStatusIndicator
        },
        {
            title: {
                text: "Submit your endpoint"
            },
            href: "/submit-endpoint-tree/start",
            status: data.check.submitYourTreeEndpointStatus | toStatusIndicator
        }
    ]
    }) }}
</div>