{% extends "layouts/main.html" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName="Home" %}

{% block content %}

{% set organisation = "Borechester local planning authority" %}

{% set markdown %}

# Let us know if your data is up to date

Placeholder page needs completing

---------------------

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div>
      {{markdown | govukMarkdown(headingsStartWith="l") | safe}}
    </div>

    
    <form method="post">

        {{ govukRadios({
          name: "check[letUsKnowIfYourDataIsUpToDateStatus]",
          fieldset: {
            legend: {
              text: 'Does your data look up to date?',
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "complete",
              text: "yes"
            },
            {
              value: "started",
              text: "not yet"
            }
          ]
        }) }}
  
  
  
        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
  
    </form>

  </div>
</div>

{% endblock %}