<div class="task-div">
    <h2 class="govuk-heading-m">Provide your Article 4 direction areas</h2>
    {{ govukTaskList({
    idPrefix: "provide-article-4-direction-areas",
    items: [
        {
            title: {
                text: "Read the data guidance"
            },
            href: "https://www.planning.data.gov.uk/guidance/specifications/article-4-direction#article-4-direction-area",
            status: {
                text: "Completed"
            }
        },
        {
            title: {
                text: "Create your data file"
            },
            href: "/guidance/article-4-direction-areas/create-data-file",
            status: {
                text: "Completed"
            }
        },
        {
            title: {
                text: "Check your data file"
            },
            href: "https://publish.development.digital-land.info/",
            status: {
                tag: {
                text: "Incomplete",
                classes: "govuk-tag--blue"
                }
            }
        },
        {
            title: {
                text: "Publish your data"
            },
            href: "https://www.planning.data.gov.uk/guidance/publish-data-on-your-website",
            status: {
                tag: {
                    text: "Incomplete",
                    classes: "govuk-tag--blue"
                }
            }
        },
        {
            title: {
                text: "Submit your endpoint"
            },
            href: "https://publish.planning-data.dev/submit-endpoint/start",
            status: {
                tag: {
                text: "Incomplete",
                classes: "govuk-tag--blue"
                }
            }
        }
    ]
    }) }}
</div>