
<div class="task-div">
    <h2 class="govuk-heading-m">Provide your Article 4 direction areas</h2>
    {{ govukTaskList({
    idPrefix: "provide-article-4-direction-areas",
    items: [
        {
            title: {
                text: "Read the data guidance"
            },
            href: "./article4DataGuidance",
            status: {
                tag: {
                    text: "Optional",
                    classes: "govuk-tag--grey"
                }
            }
        },
        {
            title: {
                text: "Check your data file"
            },
            href: "/columnMappingArticle4/upload-method",
            status: data.check.checkYourArticle4Status | toStatusIndicator
        },
        {
            title: {
                text: "Publish your data"
            },
            href: "./publishYourDataFile",
            status: data.check.publishYourDataFileStatus | toStatusIndicator
        },
        {
            title: {
                text: "Submit your endpoint"
            },
            href: "/submit-endpoint-article4/start",
            status: data.check.submitEndpointArticle4Status | toStatusIndicator
        }
    ]
    }) }}
</div>