{% extends "layouts/main.html" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName="Home" %}

{% block content %}

{% set organisation = "Borechester local planning authority" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1>ToDo: Guidance on article 4</h1>

    
    <form method="post">

        <input type="hidden" name="check[publishYourDataFileStatus]" value="complete">

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

  </div>
</div>

{% endblock %}