{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layouts/main.html" %}

{% set pageName = serviceName %}

{% block content %}


{% set content %}

Before you publish your data, you need to make sure it conforms with the specifications. We understand you might not have all the fields available. You can start with what you have now and map your fields to the specification. You’ll need to fill in the gaps later.

  
  {{ govukButton({
    text: "Continue",
    href: "./geometry"
  }) }}
  

{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your data
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{content | govukMarkdown(headingsStartWith="l") | safe}}
    </div>
    <div class="govuk-grid-column-one-third">
      
    </div>
  </div>
{% endblock %}
