{% extends "layouts/main.html" %}
{% from "macros/columnMappingForm.njk" import columnMappingForm %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
        tag: {
        text: "Prototype"
    },
        html: 'This prototype is being tested with users in local planning authorities. It may change or stop working.'
    }) }}  

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form novalidate method="post">

        {{
          columnMappingForm({
            data: data, 
            columnName: "end-date",
            hint: "An end-date is the date the validity of the record ends."
          })  
        }}

      </form>
    </div>
  </div>
{% endblock %}
