{% extends "layouts/main.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageName = 'Which column contains your start dates?' %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
        tag: {
        text: "Prototype"
    },
        html: 'This prototype is being tested with users in local planning authorities. It may change or stop working.'
    }) }}  

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

        <h2 class="govuk-heading-m">Check new mappings</h2>

        {{ govukSummaryList({
        rows: [
            {
            key: {
                text: "geometry"
            },
            value: {
                text: data.check.geometryColumn
            },
            actions: {
                items: [
                {
                    href: "./geometry",
                    text: "Change",
                    visuallyHiddenText: "geometry"
                }
                ]
            }
            },
            {
            key: {
                text: "start-date"
            },
            value: {
                text: data.check['start-dateColumn']
            },
            actions: {
                items: [
                {
                    href: "./start-date",
                    text: "Change",
                    visuallyHiddenText: "start date"
                }
                ]
            }
            },
            {
            key: {
                text: "end-date"
            },
            value: {
                html: data.check['end-dateColumn']
            },
            actions: {
                items: [
                {
                    href: "./end-date",
                    text: "Change",
                    visuallyHiddenText: "end date"
                }
                ]
            }
            }
        ]
        }) }}

        <p>If this looks correct, you can continue.</p>

        
        {{ govukButton({
          text: "Continue",
          href: './holdingPageArticle4'
        }) }}
      

        
      
    </div>
  </div>
{% endblock %}
