{% extends "layouts/main.html" %}

{% set pageName = 'How do you want to provide your data?' %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
        tag: {
        text: "Prototype"
    },
        html: 'This prototype is from a <a class="govuk-link" href="https://digital-land.github.io/blog-post/jamming-together/">rapid design sprint</a> and unfinished. You should expect it to break or not work.'
    }) }}  

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form novalidate method="post">

        {{ govukRadios({
          name: "check[uploadMethod]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.check.uploadMethod,
          items: [
            {
              value: "file",
              text: "file"
            },
            {
              value: "url",
              text: "url"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <p class="govuk-!-padding-top-4 govuk-!-padding-bottom-4"><a style="color: #fff" href="/no-errors">No errors</a></p>
      </form>
    </div>
  </div>
{% endblock %}
