{% extends "layouts/main.html" %}

{% set pageName = "Review alternative sources" %}
{% set pageSlug %}{{version_path}}/organisations/{{organisation.organisation}}/{{dataset.dataset}}{% endset %}

{% block header %}
{% set hideNav = true %}
{% set serviceName = "Review alternative sources" %}
{% include "includes/_service-navigation-header.html" %}
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: pageSlug+"/review-alternative-sources"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ organisation.name }} — {{ dataset.name }}</span>
    <h1 class="govuk-heading-l">
      Review record 1 of 8
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/dataset-details-map.png" alt="Map of Borechester conservation areas" style="width:100%"
      class="govuk-!-margin-bottom-6">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set conservation_area = conservation_areas[conservation_area_index] %}

    {% set row_data = [] %}
    {% for row_key, row_value in conservation_area %}
      {% if row_key == "geometry" %}
        {% set row_value %}<code>{{ row_value|truncate(80) }}</code>{% endset %}
      {% elseif row_key == "point" %}
        {% set row_value %}<code>{{ row_value }}</code>{% endset %}
      {% endif %}

      {% if "url" in row_key %}
        {% set row_value %}<a href="{{ row_value }}">{{ row_value|truncate(80) }}</a>{% endset %}
      {% endif %}

      {% set row_data = row_data.concat({
        key: { text: row_key },
        value: { html: row_value }
      }) %}
    {% endfor %}

    {{ govukSummaryList({
      card: {
        title: {
          text: "Record 1"
        }
      },
      rows: row_data
    }) }}

    {{ govukButton({
      text: "Continue",
      href: pageSlug+"/check-answers"
    }) }}
  </div>
</div>

{% endblock %}