{% extends "layouts/main.html" %}

{% set record_number = conservation_area_index|int + 1 %}

{% set pageName %}Review record {{ record_number }} of {{ conservation_area_count }}{% endset %}
{% set pageSlug %}{{version_path}}/organisations/{{organisation.organisation}}/{{dataset.dataset}}{% endset %}

{% block header %}
{% set hideNav = true %}
{% set serviceName = "Review alternative sources" %}
{% include "includes/_service-navigation-header.html" %}
{% endblock %}


{% block beforeContent %}
{% set back_link_url = pageSlug + "/review-record/" + (conservation_area_index|int -1) %}
{% if conservation_area_index == 0 %}
  {% set back_link_url = pageSlug + "/review-alternative-sources" %}
{% endif %}

{{ govukBackLink({
  text: "Back",
  href: back_link_url
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ organisation.name }} — {{ dataset.name }}</span>
    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/dataset-details-map.png" alt="Map of Borechester conservation areas" style="width:100%"
      class="govuk-!-margin-bottom-6">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set conservation_area = conservation_areas[conservation_area_index] %}

    {% set row_data = [] %}
    {% for row_key, row_value in conservation_area %}
      {% if row_key == "geometry" %}
        {% set row_value %}<code>{{ row_value|truncate(80) }}</code>{% endset %}
      {% elseif row_key == "point" %}
        {% set row_value %}<code>{{ row_value }}</code>{% endset %}
      {% endif %}

      {% if "url" in row_key %}
        {% set row_value %}<a href="{{ row_value }}">{{ row_value|truncate(80) }}</a>{% endset %}
      {% endif %}

      {% set row_data = row_data.concat({
        key: { text: row_key },
        value: { html: row_value }
      }) %}
    {% endfor %}

    {{ govukSummaryList({
      card: {
        title: {
          text: "Record " + record_number
        }
      },
      rows: row_data
    }) }}

    {% set form_action_url = pageSlug + "/review-record/" + (conservation_area_index|int + 1) %}
    {% if conservation_area_index >= conservation_area_count -1 %}
      {% set form_action_url = pageSlug + "/download-report" %}
    {% endif %}

    <form class="form" action="{{ form_action_url }}" method="post">
      {{ govukRadios({
        name: "review_record_"+conservation_area_index,
        fieldset: {
          legend: {
            text: "Is this record correct?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: true,
            text: "Yes, add this to the download"
          },
          {
            value: false,
            text: "No, ignore this record"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}