{% extends "layouts/main.html" %}
{% from "components/dataset-navigation.html" import datasetNavigation %}

{% set pageName %}{{organisation.name}} — {{dataset.name}} — Task list{% endset %}

{% block header %}
{% include "includes/_service-navigation-header.html" %}
{% endblock %}

{% block beforeContent %}

{{ super() }}

{{ govukBreadcrumbs({
  items: [
  {
    text: "Home",
    href: "/overview/v2/start"
  },
  {
    text: "Organisations",
    href: "/overview/v2/organisations"
  },
  {
    text: organisation.name,
    href: "/overview/v2/"+organisation.organisation
  }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {% include "includes/_dataset-page-header" %}
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ datasetNavigation({
          active: "task-list",
          dataset: dataset,
          organisation: organisation,
          issue_count: tasks.length
        }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      {{ dataset.name }} task list
    </h2>

    {% if tasks.length == 0 %}
    <p>There are no issues with {{ organisation.name }}’s {{ dataset.name }} dataset.</p>

    <p><a
        href="https://www.planning.data.gov.uk/entity/?dataset=brownfield-land&geometry_curie=statistical-geography:E07000091">View
        the dataset on the Planning Data platform</a></p>

    {% else %}

    {% set taskItems = [] %}
    {% for task in tasks %}
    {% set taskMessage = "" %}

    {% for mapping in mappings %}

    {% if task.issue_type == mapping.issue_type %}

    {% if task.num_issues == num_rows %}

    {% set taskMessage %}
    {{ task.field }} column {{ mapping.message }}
    {% endset %}

    {% else %}

    {% if task.num_issues > 1 %}

    {% set taskMessage %}
    {{ task.num_issues | plural("field") }} {{ mapping.message_plural }}
    {% endset %}

    {% else %}

    {% set taskMessage %}
    {{ task.num_issues | plural("field") }} {{ mapping.message }}
    {% endset %}

    {% endif %}
    {% endif %}

    {% endif %}
    {% endfor %}


    {% if task.status == "Error" %}
    {% set tagClass = "govuk-tag--red" %}
    {% elseif task.status == "Needs fixing" %}
    {% set tagClass = "govuk-tag--yellow" %}
    {% elseif task.status == "Warning" %}
    {% set tagClass = "govuk-tag--blue" %}
    {% endif %}

    {% set task_url %}/overview/v2/{{ organisation.organisation }}/dataset/{{ dataset.dataset }}/error/{{ task.resource }}/{{ task.issue_type | urlencode }}{% endset %}

    {% set taskItem = {
        title: {
          text: taskMessage
        },
        href: task_url,
        status: {
          tag: {
            text: task.status,
            classes: tagClass
          }
        }
      }
      %}

    {% set taskItems = (taskItems.push(taskItem), taskItems) %}

    {% endfor %}

    {{ govukTaskList({
      idPrefix: "dataset-tasklist",
      items: taskItems
    }) }}

    <h3 class="govuk-heading-m">
      How to improve {{ organisation.name }}’s data
    </h3>

    <ol class="govuk-list govuk-list--number">
      <li>Fix the errors indicated</li>
      <li>Use the <a href="https://check.staging.digital-land.info/">check service</a> to make sure the data meets
        the standard</li>
      <li>Publish the updated data on the data URL</li>
    </ol>

    {% endif %}
  </div>
</div>


{% endblock %}