{% extends "layouts/main.html" %}
{% from "components/dataset-navigation.html" import datasetNavigation %}

{% set pageName %}{{ dataset.name }}: {{ entity.name }} {{ entity.reference }}{% endset %}

{% set showMap = [
  "article-4-direction-area",
  "brownfield-land",
  "conservation-area",
  "listed-building",
  "listed-building-outline",
  "tree",
  "tree-preservation-zone"
  ].includes(dataset.dataset) %}
  
  
  {% block header %}
    {% include "includes/_service-navigation-header.html" %}
  {% endblock %}
  
  {% set checkUrl %}/iterative-check/organisations/{{ organisation.organisation }}/{{ dataset.dataset }}/choose-upload{% endset %}
  {% set provideUrl %}/submit-dataset/organisations/{{ organisation.organisation }}/{{ dataset.dataset }}/lpa-details{% endset %}
  
  {% set pageSlug %}{{ version_path }}/organisations/{{ organisation.organisation }}/{{ dataset.dataset }}{% endset %}
  
  {% block beforeContent %}
  
  {{ super() }}
  
  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: version_path
    },
    {
      text: "Organisations",
      href: version_path + "/organisations"
    },
    {
      text: organisation.name,
      href: version_path + "/organisations/" + organisation.organisation
    }
    ]
  }) }}
  
  {% endblock %}
  
  {% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{organisation.name}}</span>
      <h1 class="govuk-heading-xl">
        {{ pageName }}
      </h1>
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ datasetNavigation({
        path_slug: pageSlug,
        active: "dataset-table",
        dataset: dataset,
        organisation: organisation,
        issue_count: 6
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back to dataset table",
        href: pageSlug + "/dataset-table"
      }) }}
    </div>
  </div>
  
  {% if showMap %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div id="map" class="app-map"></div>
    </div>
  </div>
  {% endif %} 
    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% set row_data = [] %}
    {% for field in columns %}
      {% set row_key = field.field %}
      {% set row_value = entity[row_key] %}
      
      {% if row_key == "geometry" %}
        {% set row_value %}<code>{{ row_value|truncate(80) }}</code>{% endset %}
      {% elseif row_key == "point" %}
        {% set row_value %}<code>{{ row_value }}</code>{% endset %}
      {% endif %}

      {% if "url" in row_key %}
        {% set row_value %}<a href="{{ row_value }}">{{ row_value|truncate(80) }}</a>{% endset %}
      {% endif %}

      {% set row_data = row_data.concat({
        key: { text: row_key },
        value: { html: row_value }
      }) %}
    {% endfor %}

    {{ govukSummaryList({
      card: {
        title: {
          text: entity.name + " " + entity.reference
        }
      },
      rows: row_data
    }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">
      {% if allEntities.length > 1 %}
        {{ govukPagination(pagination_obj) }}
      {% endif %}
    </div>
  </div>
  
{% endblock %}
  
{% block scripts %}
  {{ super() }}
  {% if showMap %}
  <script>
    const dataLayers = [
      {
        name: "{{ dataset.name }}",
        dataset: "single-entity",
        url: `/api/entity/{{ entity.entity }}.geojson`
      }
    ]
      
    window.serverContext = {
      containerId: 'map',
      boundaryGeoJsonUrl: `/api/{{ organisation.organisation }}/boundary.geojson`,
      data: dataLayers,
    }
  </script>
  <script src="/public/javascripts/map.bundle.js" type="module"></script>
  
  {% endif %}
{% endblock %}