{% extends "layouts/main.html" %}
{% from "components/dataset-navigation.html" import datasetNavigation %}

{% set pageName %}Improve the accuracy of your data{% endset %}

{% set showMap = [
  "article-4-direction-area",
  "brownfield-land",
  "conservation-area",
  "listed-building",
  "listed-building-outline",
  "tree",
  "tree-preservation-zone"
  ].includes(dataset.dataset) %}
  
  {% block header %}
    {% include "includes/_service-navigation-header.html" %}
  {% endblock %}
  
  {% set pageSlug %}{{ version_path }}/organisations/{{ organisation.organisation }}/{{ dataset.dataset }}{% endset %}
  
  {% block beforeContent %}
  
  {{ super() }}
  
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: version_path
      },
      {
        text: "Organisations",
        href: version_path + "/organisations"
      },
      {
        text: organisation.name,
        href: version_path + "/organisations/" + organisation.organisation
      },
      {
        text: dataset.name,
        href: pageSlug
      },
      {
        text: "Task list",
        href: pageSlug + "/tasklist"
      },
      {
        text: "Issue table",
        href: pageSlug + "/issue-table"
      }
    ]
  }) }}
  
  {% endblock %}
  
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back to issue table",
        href: pageSlug + "/issue-table"
      }) }}

      <h1 class="govuk-heading-xl">
        {{ pageName }}
      </h1>

      {{ govukErrorSummary({
        titleText: "The accuracy of your data could be improved",
        descriptionText: "You have " + entityCount | plural(dataset.name) + " outside of your
      boundary.",
        classes: "app-warning-summary"
      }) }}
    </div>
  </div>

  {% if showMap %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div id="map" class="app-map"></div>
    </div>
  </div>
  {% endif %} 
        
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% set row_data = [] %}
    {% for field in columns %}
      {% set row_classes = "" %}
      {% set row_key = field.field %}
      {% set row_value = entity[row_key] %}
      
      {% if row_key == "geometry" %}
        {% set row_value %}<code>{{ row_value|truncate(80) }}</code>{% endset %}
      {% elseif row_key == "point" %}
        {% set row_value %}<code>{{ row_value }}</code>{% endset %}
      {% endif %}

      {% if "url" in row_key %}
        {% set row_value %}<a href="{{ row_value }}">{{ row_value|truncate(80) }}</a>{% endset %}
      {% endif %}

      {% if field.field == "geometry" %}
        {% set row_classes = "dl-summary-card-list__row--warning" %}
        {% set row_value %}
          {{ row_value | safe }}
          <p class="app-warning-message">This {{ dataset.name }} is outside of your boundary</p>
        {% endset %}
      {% endif %}

      {% set row_data = row_data.concat({
        classes: row_classes,
        key: { text: row_key },
        value: { html: row_value }
      }) %}
    {% endfor %}

    {{ govukSummaryList({
      card: {
        title: {
          text: entity.name + " " + entity.reference
        }
      },
      rows: row_data
    }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">
      {% if outOfBoundsEntities.length > 1 %}
        {{ govukPagination(pagination_obj) }}
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">How to fix this issue</h2>

      <p>You have {{ entityCount | plural(dataset.name) }} outside of your
      boundary. If the {{ dataset.name }}s should not be outside of the boundary,
      update the geometry field with the correct location using the WGS84
      coordinate reference system (if possible).</p>

      <p>If you cannot do this, provide what you have and we can transform it
      into WGS84.</p>
      
      <p>The platform will index your data again overnight and update the
      dataset.</p>
      
      <p>If {{ organisation.name }} is responsible for the {{ dataset.name }}s outside of the boundary, let us know by emailing
      <a href="mailto:digitalland@communities.gov.uk">digitalland@communities.gov.uk</a> and we will update our records to remove
      this warning.</p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if showMap %}
  <script>
    const dataLayers = [
      {
        name: "{{ dataset.name }}",
        dataset: "single-entity",
        url: `/api/entity/{{ entity.entity }}.geojson`
      }
    ]
      
    window.serverContext = {
      containerId: 'map',
      boundaryGeoJsonUrl: `/api/{{ organisation.organisation }}/boundary.geojson`,
      data: dataLayers,
    }
  </script>
  <script src="/public/javascripts/map.bundle.js" type="module"></script>
  
  {% endif %}
{% endblock %}