{% extends "layouts/main.html" %}

{% set pageName = "Enter your 6-digit security code" %}

{% block header %}
{% set active_section = { your_organisation: true } %}
{% include "includes/_service-navigation-header-v2.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: version_path + "/authentication-email"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    <p>We’ve sent an email to {{ data.authentication_email }}.</p> 

    <p>The code will expire 15 minutes after you receive it.</p>


    <form novalidate
      action="{{version_path}}/validate-email"
      method="post">

      {{ govukInput({
        label: {
          text: "Security code",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        classes: "govuk-input--width-10",
        id: "authentication-validation",
        name: "authentication_validation"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <p><a href="#">Not received an email or code expired?</a></p>
  </div>
</div>

{% endblock %}