{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Planning data providers – prototype
    </h1>

    <div style="margin-bottom: 2em;">
      <h2 class="govuk-heading-l">December 2024</h2>
      <ol class="govuk-list govuk-list--number">
        <li><a href="/iterative-check/start">Landing page</a></li>
        <li><a href="/iterative-check/organisations">Organisations finder</a></li>
        <li><a href="/iterative-check/organisations/local-authority:EHE">LPA Dashboard (East Herts)</a></li>
        <li><a href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/get-started">Get started
            (Tree preservation order)</a></li>
        <li><a href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/choose-upload">Check —
            choose upload method</a></li>
        <li><a href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/upload-data">Check —
            upload data</a></li>
        <li><a href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/checking-file">Check —
            checking file</a></li>
        <li><a href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/results">Check — results
            (blocking issues)</a></li>
        <li><a
            href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/results-non-blocked">Check
            — results
            (non-blocking issues)</a></li>
        <li><a href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/issue-blocking">Check -
            blocking issue detail</a></li>
        <li><a
            href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/issue-non-blocking">Check
            -
            non-blocking issue detail</a></li>
        <li><a href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/check-data">Check
            — check data</a></li>
        <li><a href="/iterative-check/organisations/local-authority:EHE/tree-preservation-order/confirmation">Check —
            confirmation</a></li>
      </ol>

      <h2 class="govuk-heading-l">October 2024</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/check/local-authority:LBH/article-4-direction/choose-upload">Integrated check flow</a></li>
      </ul>

      <h2 class="govuk-heading-l">Usability testing and research, July 2024</h2>

      <h3 class="govuk-heading-m">Release 2 flow</h3>

      <ol class="govuk-list govuk-list--number">
        <li><a href="/overview/v2/start">Start page</a></li>
        <li><a href="/overview/v2/organisations">Organisations list</a></li>
        <li><a href="/overview/v2/local-authority:NEW">LPA dashboard</a></li>
        <li><a href="/overview/v2/local-authority:NEW/dataset/article-4-direction/get-started">Get
            started</a></li>
        <li><a href="/overview/v2/local-authority:NEW/dataset/brownfield-land/tasklist">Task list —
            No issues</a></li>
        <li><a href="/overview/v2/local-authority:LBH">Lambeth — LPA dashboard</a></li>
        <li><a href="/overview/v2/local-authority:LBH/dataset/listed-building-outline/tasklist">Lambeth
            — Task list —
            With tasks</a></li>
        <li><a
            href="/overview/v2/local-authority:LBH/dataset/article-4-direction/error/5fb087124ab2e6fe410af19a1980915729c3c0900f9949fe26f1d7d7a864f1df/missing value?page=1">Lambeth
            — Dataset issue page</a></li>
        <li><a href="/overview/v2/local-authority:LBH/dataset/tree-preservation-zone/http-error">Lambeth
            — HTTP error</a></li>
      </ol>

      <h3 class="govuk-heading-m">Release 1 flow</h3>
      <ol class="govuk-list govuk-list--number">
        <li><a href="/overview/v1/start">Start page</a></li>
        <li><a href="/overview/v1/organisations">Organisations list</a></li>
        <li><a href="/overview/v1/local-authority:NEW">LPA dashboard</a></li>
        <li><a href="/overview/v1/local-authority:NEW/dataset/article-4-direction/get-started">Get
            started</a></li>
      </ol>

      <h2 class="govuk-heading-l">Design sprint, May 2024</h2>
      <ol class="govuk-list govuk-list--number">
        <li><a href="/overview/start">Start page</a></li>
        <li><a href="/overview/organisations">Organisations list</a></li>
        <li><a href="/overview/local-authority:BOR">LPA overview</a></li>
        <li><a href="/overview/dataset/article-4-direction">Dataset details</a></li>
        <li><a href="/taskLists/taskChecklist.html">Task Checklist</a></li>
        <li><a href="/columnMappingArticle4/start.html">Column Mapping</a></li>
      </ol>

    </div>

  </div>
</div>

{% endblock %}