{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      Home
    </h1>

    <div style="margin-bottom: 2em;">
      <h2>Links</h2>
      <ul>
        <li><a href="./taskLists/taskChecklist.html">Task Checklist</a></li>
        <li><a href="./columnMappingArticle4/start.html">Column Mapping</a></li>
      </ul>
    </div>

  </div>
</div>

{% endblock %}
