{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block beforeContent %}

    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

    {{ govukPhaseBanner({
        tag: {
        text: "Prototype"
    },
        html: 'This prototype is from a <a class="govuk-link" href="https://digital-land.github.io/blog-post/jamming-together/">rapid design sprint</a> and unfinished. You should expect it to break or not work.'
    }) }}

{% endblock %}